/* Pour les bords noirs autour des cartes */
.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); /* Ombre plus sombre */
  border: 2px solid black; /* Bordure noire */
  border-radius: 10px; /* Coins arrondis plus marqués */
}

/* Pour des flèches plus visibles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Flèches noires */
  border-radius: 50%; /* Garder la forme arrondie */
  border: 2px solid white; /* Bordure blanche autour des flèches */
  width: 50px; /* Agrandir la taille des flèches */
  height: 50px;
  opacity: 1; /* Rendre les flèches complètement opaques */
}

